
a{
  color: #2EFFFF;
  font-size:24px;
}
body {
  text-transform: capitalize;
  background:#1B252F;
  color: #1074E8;  
  font-family: 'Staatliches', cursive;


}
h1 {
  font-size: 72px;
  text-align:center;
  margin-left:20px;
  text-transform: uppercase;  
}
h2{
  text-align: center;
}
hr{
  border:0;
height:1px;
color: blue;
background-image:linear-gradient(to right, blue,rgb(60, 62, 143), blue)

}
#health h3:hover ~#health{
display: block;
}
.mainhead{
  text-align: center;
}
h3{
  font-size:36px;
  text-align: center;
  padding:20px;
  width: fixed;
  margin: auto;
  display: inline-block;
  border-radius:0.525rem;
  
}
#health h3{
  background-color:#85FF69;
}
#hobies h3{
 background-color: #6CC1FF;
}
#money h3{
 background-color: bisque;
}
#overall h3{
 background-color:#FFE187;
}
h4{
  font-size: 24px;
}
h6{
  font-size:24px;
}
h5{
  font-size:24px;
}
